html, body {
    background: #333;
    text-align: center;
}

.l{
    stroke-dasharray: 17;
    animation: dash 2.5s ease-in-out infinite;
}

@keyframes dash{
    to{
        stroke-dashoffset: 136.1;
    }
}

 